@import "tailwindcss";

.signup-bg {
  position: relative;
  overflow: hidden;
}

.signup-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('/Guidlines_image-Picsart-AiImageEnhancer.jpg');
  background-size: cover;
  background-position: center;
  opacity: 1;
  filter: blur(2px);
  z-index: 0;
}

.signup-bg > * {
  position: relative;
  z-index: 1;
}